{
    "PORT": 5000,
    "SERVERS": [
        {
            "NAME": "mooncraft",
            "WOL_MAC_ADDRESS": "8c:ec:4b:ce:2d:b7",
            "BROADCAST_ADDRESS": "192.168.86.255",
            "SITE_URL": "http://google.com",
            "WAIT_TIME_SECONDS": 5
        },
        {
            "NAME": "mooncraft 2",
            "WOL_MAC_ADDRESS": "8c:ec:4b:ce:2d:b7",
            "BROADCAST_ADDRESS": "192.168.86.255",
            "SITE_URL": "http://youtube.com",
            "WAIT_TIME_SECONDS": 60
        },
        {
            "NAME": "qwerty",
            "WOL_MAC_ADDRESS": "00:11:22:33:44:55",
            "BROADCAST_ADDRESS": "255.255.255.255",
            "SITE_URL": "123456.com",
            "WAIT_TIME_SECONDS": 60
        }
    ]
}