{
    "PORT": 5000,
    "SERVERS": [
        {
            "NAME": "minemaft",
            "WOL_MAC_ADDRESS": "8c:ec:4b:ce:2d:b7",
            "BROADCAST_ADDRESS": "192.168.86.255",
            "SITE_URL": "https://panel.thethings.qzz.io",
            "WAIT_TIME_SECONDS": 15,
            "locked": true,
            "pin": "123456",
            "IP_ADDRESS": "192.168.86.45",
            "CHECK_PORT": 22,
            "startup_times": [
                836,
                234
            ]
        }
    ]
}